.gofor{
    background-image: url('https://img.freepik.com/free-vector/nft-non-fungible-token-concept-with-neon-light-effect_1017-36944.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}